{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid mb-2">
        <div class="row mt-5">
            <div class="col text-center">      
                <h1 class="">Shopping Bag</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-end">
                 <a href="{% url 'products' %}" class="btn border rounded-0 border-2 border-secondary mx-5">
                     <h5 class="mb-0">Keep Shopping</h5>   
                    </a>
                </div>
            </div> 
        <div class="row">   
            <div class="col">         
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <h5 class="my-5 text-center">Your bag is empty.</h5>
                   
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}