{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid d-none d-xl-block mt-5 mr-5">
    <div class="row my-2 d-flex justify-content-end">
        <div class="card bg-light-grey col-3 my-auto border border-dark border-5 mr-2">
            <h2>
                        <a href="" class=" text-grey btn btn-lg">All Products</a>
            </h2>
        </div>
    </div>
    <div class="row my-2 d-flex justify-content-end">
        <div class="card bg-light-grey col-3 my-auto border border-dark border-5 mr-2">
            <h2>
                        <a href="" class="text-grey btn btn-lg">New Bits and Bobs</a>
            </h2>
        </div>
    </div>
    <div class="row my-2 d-flex justify-content-end">
        <div class="card bg-light-grey col-3 my-auto border border-dark border-5 mr-2">
            <h2>
                        <a href="" class="text-grey btn btn-lg">E-bike Hire</a>
            </h2>
        </div>
    </div>
</div>
{% endblock %}