{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid d-none d-xl-block mr-5">
    <div class="row d-flex justify-content-end">
        <div style="min-height: 557px;"class=" col-3 pt-5 text-center card bg-light-grey  border border-dark border-5">
            <h2>
                        <a href="{% url 'products' %}" class=" text-grey btn btn-lg">All Products</a>
            </h2>
            <h2>
                        <a href="" class="text-grey btn btn-lg">New Bits and Bobs</a>
            </h2>   
            <h2>
                        <a href="" class="text-grey btn btn-lg">E-bike Hire</a>
            </h2>
        </div>
    </div>
   
</div>
{% endblock %}