@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/shop_bg_image.jpg') no-repeat fixed;
    background-size: 1700px 1100px;
    background-position: -40px -130px;
    color: #555;
    font-family: 'Amatic SC';
    font-size: 1.2em;
}



.btn-lg {
    font-size: 1.5em;
}

.text-black {
    color: #000 !important;
}

.text-success {
   color: #009973 !important;
}

.text-grey {
    color: #476b6b !important;
}

.bg-grey {
    background-color: #476b6b !important;
}



.fixed-top-background{
    background-color: whitesmoke;
    min-height: 120px;
}

.no-underline, .no-underline:hover {
    text-decoration: none;
}

.btn-success {
   background-color: #009973 !important;
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 904px) {
    body {
    background-position: 0px 0px;
}
}