<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class=" nav-link " href="" id="groceries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groceries
            </a>
            <div class="dropdown-menu" aria-labelledby="groceries-link">
                <a href="{% url 'products' %}?category=alcohol" class="dropdown-item">Alcohol</a>
                <a href="{% url 'products' %}?category=bakery" class="dropdown-item">Bakery</a>
                <a href="{% url 'products' %}?category=dairy" class="dropdown-item">Dairy</a>
                <a href="{% url 'products' %}?category=deli" class="dropdown-item">Deli</a>
                <a href="{% url 'products' %}?category=meats" class="dropdown-item">Meats</a>
                <a href="{% url 'products' %}?category=tins-and-jars" class="dropdown-item">Tins and Jars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="" id="household-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Household
            </a>
            <div class="dropdown-menu" aria-labelledby="household-link">
                <a href="{% url 'products' %}?category=general-cleaning" class="dropdown-item">General Cleaning Products</a>
                <a href="{% url 'products' %}?category=suma" class="dropdown-item">Suma Products</a>
                <a href="{% url 'products' %}?category=eco" class="dropdown-item">Eco Products</a>
                <a href="{% url 'products' %}?category=refill-station" class="dropdown-item">Refill Station</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="" id="cards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cards
            </a>
            <div class="dropdown-menu" aria-labelledby="cards-link">
                <a href="{% url 'products' %}?category=birthday-cards" class="dropdown-item">Birthdays</a>
                <a href="{% url 'products' %}?category=occasion-cards" class="dropdown-item">Occasions</a>
            </div>
        </li>
    </ul>
</div>