{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Blog Management</h2>
                <h5 class="text-muted">Add Comment</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_comment' blog.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="blogname">Blog</label>
                    <input type="text" value="{{blog.name}}" id="blogname" name="blogname" disabled><br><br>
                    <input type="hidden" id="username" name="username" value="{{comment.user_profile}}">
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'blogs' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Comment</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}